@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-light: #4a8cff;
  --color-brand-dark: #003ba3;
  --font-sans: "Montserrat", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-800;
}